<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <h1>CT Hurst Virtual Museum</h1>
</head>
<body>
<div id="navigation">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Archeology</a></li>
        <li><a href="#">Biology</a></li>
        <li><a href="#">Geology</a></li>
        <li><a href="#">Paleontology</a></li>
        <li><a href="#">About Us</a></li>
    </ul>
</div>

{% block content %}{% endblock %}
</body>
</html>