<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <div class="header">
      <img src="/static/Western_Colorado_University_logo..png" alt="Western Colorado University logo" width="150" height="100" style="margin-right: 20px;">
      <h1 align="center" id="title">Western Colorado University <br>CT Hurst Virtual Museum</h1>
    </div>
</head>
<body>

  <div class="navbar">
    <a href="/">Home</a>
    <a href="/Archeology">Archaeology </a>
    <a href="/Biology">Biology</a>
    <a href="/Geology">Geology</a>
    <a href="/Paleontology">Paleontology</a>
    <div class="dropdown">
      <button class="dropbtn">About Us 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/Contact_Us">Contact Us</a>
        <a href="/History_Of_Museum">History of Museum</a>
        {% if current_user.is_authenticated %}
          <a href="/Upload">Upload</a>
          <a href="/Logout">Logout</a>
        {% else %}
          <a href="/Admin_Login">Admin Login</a>
        {% endif %}
      </div>
    </div> 
  </div>

{% block content %}{% endblock %}

<footer>

  <div class="footer-left">
    <img src="/static/western-long-logo.png" alt="Western_Colorado_University_logo">
  </div>
  
  <div class="footer-center">
    <p>CT Hurst Virtual Museum</p>
    <p>WESTERN COLORADO UNIVERSITY</p>
    <p>Fax: (919) 962-1613 Phone: (919) 962-6574</p>
    <p>1 Western Way</p>
    <p>Gunnison, CO 81230</p>
  </div>

  <footer class="footer-right">
  <a href="#" class="socials"> <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" width="20" height="20"></a>
  <a href="#" class="socials"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/Western_State_Colorado_University_logo.svg/800px-Western_State_Colorado_University_logo.svg.png" width="20" height="20"></a>
  </footer>

</footer>
</body>
</html>