<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <h1>CT Hurst Virtual Museum</h1>
</head>
<body>
<div id="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Archeology">Archeology</a></li>
        <li><a href="/Biology">Biology</a></li>
        <li><a href="/Geology">Geology</a></li>
        <li><a href="/Paleontology">Paleontology</a></li>
        <div class="dropdown">
            <button class="dropbtn">More
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/About_Us">About Us</a>
              <a href="/HistoryOfMuseum">History of Museum</a>
              <a href="/Admin">Admin Login</a>
            </div>
          </div>
    </ul>
</div>

{% block content %}{% endblock %}
</body>
</html>