{% extends base %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="about_us">
    <div class="about_us_parent">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="about_us_child" width=200 height=200 alt="Mark Stiger">

        <div class="about_us_child">

            <label class="about_us_info">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                970-943-2073
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                mstiger@western.edu
            </label>

            <br>

            <label class="about_us_info">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                Hurst Hall 25b
            </label>
        </div>
    </div>

    <div class="about_us_parent">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="about_us_child" width=200 height=200 alt="Lynn Sikkink">

        <div class="about_us_child">

            <label class="about_us_info">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                970-943-2062
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                lsikkink@western.edu
            </label>

            <br>

            <label class="about_us_info">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                Hurst Hall 31c
            </label>
        </div>
    </div>

    <div class="about_us_parent">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="about_us_child" width=200 height=200 alt="David M. Hyde">

        <div class="about_us_child">

            <label class="about_us_info">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                970-943-2222
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                dhyde@western.edu
            </label>

            <br>

            <label class="about_us_info">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width=25 height=25 alt="">
                Hurst Hall 031A
            </label>
        </div>
    </div>
</div>

{% endblock %}