{% extends base %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="about_us">

    <div class="about_us_parent">
        <img src="static\contact_img\loriclement.jpg" class="about_us_child" width=300 height=300 alt="Lori Clement">

        <div class="about_us_child">

            <h2>Lori Clement</h2>

            <label class="about_us_info">
                <img src="static\contact_img\phone_icon.png" width=25 height=25 class="about_us_links">
                <a href="tel:970-943-3045" style="text-decoration: none; color: white;">970-943-3045</a>
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="static\contact_img\email_icon.png" width=25 height=25 class="about_us_links">
                <a href="" style="text-decoration: none; color: white;">lclement@western.edu</a>
            </label>

            <br>

            <label class="about_us_info">
                <img src="static\contact_img\location_icon.png" width=25 height=25 class="about_us_links">
                Talor 322
            </label>
        </div>
    </div>

    <div class="about_us_parent">
        <img src="static\contact_img\markstiger.jpg" class="about_us_child" width=300 height=300 alt="Mark Stiger">

        <div class="about_us_child">

            <h2>Mark Stiger</h2>

            <label class="about_us_info">
                <img src="static\contact_img\phone_icon.png" width=25 height=25 class="about_us_links">
                <a href="tel:970-943-2073" style="text-decoration: none; color: white;">970-943-2073</a>
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="static\contact_img\email_icon.png" width=25 height=25 class="about_us_links">
                <a href="" style="text-decoration: none; color: white;">mstiger@western.edu</a>
            </label>

            <br>

            <label class="about_us_info">
                <img src="static\contact_img\location_icon.png" width=25 height=25 class="about_us_links">
                Hurst Hall 25b
            </label>
        </div>
    </div>

    <div class="about_us_parent">
        <img src="static\contact_img\lynnsikkink.jpg" class="about_us_child" width=300 height=300 alt="Lynn Sikkink">

        <div class="about_us_child">

            <h2>Lynn Sikkink</h2>

            <label class="about_us_info">
                <img src="static\contact_img\phone_icon.png" width=25 height=25 class="about_us_links">
                <a href="tel:970-943-2062"style="text-decoration: none; color: white;">970-943-2062</a>
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="static\contact_img\email_icon.png" width=25 height=25 class="about_us_links">
                <a href="" style="text-decoration: none; color: white;">lsikkink@western.edu</a>
            </label>

            <br>

            <label class="about_us_info">
                <img src="static\contact_img\location_icon.png" width=25 height=25 class="about_us_links">
                Hurst Hall 31c
            </label>
        </div>
    </div>

    <div class="about_us_parent">
        <img src="static\contact_img\davidmhyde.jpg" class="about_us_child" width=300 height=300 alt="David M. Hyde">

        <div class="about_us_child">

            <h2>David M. Hyde</h2>

            <label class="about_us_info">
                <img src="static\contact_img\phone_icon.png" width=25 height=25 class="about_us_links">
                <a href="tel:970-943-2222" style="text-decoration: none; color: white;">970-943-2222</a>
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="static\contact_img\email_icon.png" width=25 height=25 class="about_us_links">
                <a href="" style="text-decoration: none; color: white;">dhyde@western.edu</a>
            </label>

            <br>

            <label class="about_us_info">
                <img src="static\contact_img\location_icon.png" width=25 height=25 class="about_us_links">
                Hurst Hall 031A
            </label>
        </div>
    </div>
</div>

{% endblock %}