{% extends base %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="about_us">

    <div class="about_us_parent">
        <img src="static\contact_img\markstiger.jpg" class="about_us_child" width=200 height=200 alt="Mark Stiger">

        <div class="about_us_child">

            <h2>Mark Stiger</h2>

            <label class="about_us_info">
                <img src="static\contact_img\phone_icon.png" width=25 height=25 class="about_us_links">
                <a href="tel:970-943-2073" style="text-decoration: none; color: white;">970-943-2073</a>
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="static\contact_img\email_icon.png" width=25 height=25 class="about_us_links">
                <a href="" style="text-decoration: none; color: white;">mstiger@western.edu</a>
            </label>

            <br>

            <label class="about_us_info">
                <img src="static\contact_img\location_icon.png" width=25 height=25 class="about_us_links">
                Hurst Hall 25b
            </label>
        </div>

        <p class="about_us_description">Mark Stiger is a highly respected archaeology professor known for his expertise in 
             the study of ancient artifacts in the Gunnison vally. With over two decades of experience in the field, he has dedicated his 
             career to uncovering the mysteries of past lives and sharing his knowledge with students and fellow researchers. 
             Dr. Stiger is particularly renowned for his work on the knowledge and discoveries of over half a million artifacts, having conducted extensive research on 
             the anatomy, behavior, and ecological roles of previous humans. He is also a passionate advocate for science 
             education and outreach, frequently giving talks and presentations to inspire the next generation of archaeologists. 
             As a mentor to many aspiring scientists, Dr. Stiger is known for his enthusiasm, patience, and dedication to helping his 
             students succeed. His contributions to the field of archeology have earned him numerous accolades and awards, cementing his 
             status as one of the foremost experts in his field.</p>
    </div>

    <div class="about_us_parent">
        <img src="static\contact_img\lynnsikkink.jpg" class="about_us_child" width=200 height=200 alt="Lynn Sikkink">

        <div class="about_us_child">

            <h2>Lynn Sikkink</h2>

            <label class="about_us_info">
                <img src="static\contact_img\phone_icon.png" width=25 height=25 class="about_us_links">
                <a href="tel:970-943-2062"style="text-decoration: none; color: white;">970-943-2062</a>
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="static\contact_img\email_icon.png" width=25 height=25 class="about_us_links">
                <a href="" style="text-decoration: none; color: white;">lsikkink@western.edu</a>
            </label>

            <br>

            <label class="about_us_info">
                <img src="static\contact_img\location_icon.png" width=25 height=25 class="about_us_links">
                Hurst Hall 31c
            </label>
        </div>
        <p class="about_us_description">Lynn Sikkink is a highly respected archeology professor known for her expertise in the study of 
            ancient human-environmental interactions. With over two decades of experience in the field, she has dedicated her career to 
            understanding the complex relationships between humans and their surroundings throughout history. Dr. Sikkink's research interests 
            are varied, but she is particularly renowned for her work on the environmental impacts of prehistoric societies, having conducted 
            extensive fieldwork and analyses of sites in North America, Europe, and South America. She is also a passionate advocate for 
            interdisciplinary research and collaboration, having worked with scholars from diverse fields to develop new methodologies and 
            approaches to studying the past. As a teacher, Dr. Sikkink is known for her engaging lectures, innovative coursework, and commitment 
            to mentorship. Her contributions to the field of archeology have earned her numerous awards and honors, cementing her status as one 
            of the leading experts in her field.</p>
    </div>

    <div class="about_us_parent">
        <img src="static\contact_img\davidmhyde.jpg" class="about_us_child" width=200 height=200 alt="David M. Hyde">

        <div class="about_us_child">

            <h2>David M. Hyde</h2>

            <label class="about_us_info">
                <img src="static\contact_img\phone_icon.png" width=25 height=25 class="about_us_links">
                <a href="tel:970-943-2222" style="text-decoration: none; color: white;">970-943-2222</a>
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="static\contact_img\email_icon.png" width=25 height=25 class="about_us_links">
                <a href="" style="text-decoration: none; color: white;">dhyde@western.edu</a>
            </label>

            <br>

            <label class="about_us_info">
                <img src="static\contact_img\location_icon.png" width=25 height=25 class="about_us_links">
                Hurst Hall 031A
            </label>
        </div>
        <p class="about_us_description">David Hyde is a highly respected archeology professor known for his expertise in the study of ancient 
            civilizations and cultures. With over two decades of experience in the field, he has dedicated his career to uncovering the mysteries 
            of the past and sharing his knowledge with students and fellow researchers. Dr. Hyde's research interests are varied, but he is 
            particularly renowned for his work on the Mayan civilization, having conducted extensive excavations and analyses of sites in Mexico, 
            Belize, and Guatemala. He is also a passionate advocate for preserving cultural heritage and has worked closely with local communities 
            to ensure that the artifacts and structures uncovered during his research are protected and respected. As a teacher, Dr. Hyde is known 
            for his engaging lectures, hands-on fieldwork opportunities, and commitment to mentoring his students. His contributions to the field 
            of archeology have earned him numerous accolades and awards, cementing his status as one of the foremost experts in his field.</p>
    </div>

    <div class="about_us_parent">
        <img src="static\contact_img\loriclement.jpg" class="about_us_child" width=200 height=200 alt="Lori Clement">

        <div class="about_us_child">

            <h2>Lori Clement</h2>

            <label class="about_us_info">
                <img src="static\contact_img\phone_icon.png" width=25 height=25 class="about_us_links">
                <a href="tel:970-943-3045" style="text-decoration: none; color: white;">970-943-3045</a>
            </label>

            <br>

            <label class="about_us_info"> 
                <img src="static\contact_img\email_icon.png" width=25 height=25 class="about_us_links">
                <a href="" style="text-decoration: none; color: white;">lclement@western.edu</a>
            </label>

            <br>

            <label class="about_us_info">
                <img src="static\contact_img\location_icon.png" width=25 height=25 class="about_us_links">
                Talor 322
            </label>
        </div>

        <p class="about_us_description">Lori Clement is a highly esteemed archaeologist who currently serves as the head of the 
            Archaeology Department at a renowned university. With over three decades of experience in the field, she has dedicated 
            her career to understanding the complex history of human societies and their material culture. Dr. Clement's research 
            interests span various regions and time periods, but she is particularly renowned for her work on pre-Columbian Mesoamerican 
            societies and the ancient cultures of the American Southwest. As the head of the Archaeology Department, Dr. Clement is known 
            for her visionary leadership, strategic planning, and unwavering commitment to academic excellence. She is a passionate 
            advocate for fostering diversity, equity, and inclusion within the field of archaeology, and has championed initiatives 
            to create a more welcoming and supportive environment for underrepresented groups. Dr. Clement's contributions to the field 
            of archaeology have earned her numerous awards and honors, cementing her status as a leading expert and a respected mentor 
            to countless students and colleagues.</p>
    </div>
</div>

{% endblock %}