{% extends base %}

{% block title %} {{ subject }} {% endblock %}

{% block content %}

<style>
    .display-container {
        margin: 5px;
        width: 95%;

    }

    .display-container h1 {
        color: white;
    }

    .display-items {
        background-color: antiquewhite;
        padding: 2px;
    }

    .main-content {
        color: black;
    }

    .display-info {
        position: relative;
        display: flex;
        gap: 20px;
        margin: 10px;
        border: solid 3px black;
    }

    .display-info img {
        border: solid 5px beige;
        margin: 10px;
    }

    .description {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: auto;
        margin-left: 35px;
    }

    .timePeriod {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 2px;
    }


    .artifactFiles {
        width: auto;
        background-color: antiquewhite;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto;
        margin: 5px;
        overflow: scroll;
    }

    .artifactfiles-items {
        padding: 2rem;
        box-shadow: 0 0, .4rem, .4rem black;
        border: 2px solid black;
        margin: 10px;
    }

    .artifactfiles-items:hover {
        background-color: bisque;
    }

    .artifactfiles-items-heading {
        color: red;
        margin-bottom: .5rem;
    }

    .artifact {
        border: 2px solid black;
        width: auto;
        height: auto;
    }

    .artifact-container {
        width: 100%;
        background-color: antiquewhite;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin: 5px;
    }

    .artifact-items {
        padding: 2rem;
        box-shadow: 0 0, .4rem, .4rem black;
        border: 2px solid black;
        margin: 10px;
        min-width: 0;
    }


    .news-files {
        width: auto;
        background-color: antiquewhite;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto;
        margin: 5px;
        overflow: scroll;
    }


    .news-files-items {
        padding: 2rem;
        box-shadow: 0 0, .4rem, .4rem black;
        border: 2px solid black;
        margin: 10px;
    }

    .news-files-items:hover {
        background-color: bisque;
    }

    .update-container {
        height: fit-content;
        background-color: white;
        border: 2px solid black;
        display: flex;
        justify-content: center;
    }

    .update-items {
        width: 100px;
        height: 100px;
        background-color: wheat;
        font-size: medium;
        border: 2px solid black;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .update-items a {
        text-decoration: none;
        color: black;
    }
</style>

<div class="container">
    {% if artifact %}
    <div class="vertical-menu">
        <a href="/{{ subject }}">Overview</a>
        <a href="/{{ subject }}_Gallery" class="active">Gallery</a>
        <a href="/{{ subject }}_Exhibits">Exhibits</a>
        <a href="/{{ subject }}_News">News/Events</a>
        <!-- <a href="/{{ subject }}_Timeline">Timeline</a> -->
    </div>

    <div class="main-content">
        <div class="display-container">
            <h1>{{artifact.name}}</h1>
            <div class="display-items">
                <div class="display-info">
                    <img src="/static/artifact_img/{{artifact.coverImageName}}" width="300" height="200">
                    <p class="description">{{artifact.description}}</p>
                    {% if artifact.timePeriod is defined %}
                    <p class="timePeriod">{{artifact.timePeriod}}</p>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if admin == 1 or userId == artifact.uploadedBy %}
                    <div class="update-container">
                        <a href="/update{{ subject }}/{{artifact.id}}">
                            <div class="update-items">
                                <a href="/update{{ subject }}/{{artifact.id}}">Update</a>
                            </div>
                        </a>

                        <a href="/delete{{ subject }}/{{artifact.id}}">
                            <div class="update-items">
                                <a href="/delete{{ subject }}/{{artifact.id}}">Delete</a>
                            </div>
                        </a>

                    </div>
                    {% endif %}
                    {% endif %}
                </div>

                <div class="artifactFiles">
                    {% for file in artifactFiles %}
                    {% if file.fileType == "mp4" or file.fileType == "mov" %}
                    <div class="artifactfiles-items">
                        <video width="500" height="400" controls>
                            <source src="/static/artifact_img/{{file.fileName}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    {% elif file.fileType == "mp3" %}
                    <div class="artifactfiles-items">
                        <audio controls>
                            <source src="/static/artifact_img/{{file.fileName}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    {% elif file.fileType == "obj" or file.fileType == "fbx" or file.fileType == "stl" %}
                    <!-- https://threejs.org/docs/index.html#manual/en/introduction/Creating-a-scene -->

                    <div class="artifactfiles-items">
                        <a href="/static/artifact_img/{{file.fileName}}" download>Download 3D Model!</a>
                    </div>
                    {% else %}
                    <div class="artifactfiles-items">
                        <img src="/static/artifact_img/{{file.fileName}}" width="300" height="200">
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endif %}




    {% if exhibit %}
    <div class="vertical-menu">
        <a href="/{{ subject }}">Overview</a>
        <a href="/{{ subject }}_Gallery">Gallery</a>
        <a href="/{{ subject }}_Exhibits" class="active">Exhibits</a>
        <a href="/{{ subject }}_News">News/Events</a>
        <!-- <a href="/{{ subject }}_Timeline">Timeline</a> -->
    </div>

    <div class="main-content">
        <div class="display-container">
            <h1>{{exhibit.name}}</h1>
            <div class="display-items">
                <div class="display-info">
                    <img src="/static/exibit_img/{{exhibit.coverImageName}}" width="300" height="300">
                    <p class="description">{{exhibit.description}}</p>
                    {% if current_user.is_authenticated %}
                    {% if admin == 1 or userId == artifact.uploadedBy %}
                    <div class="artifactfiles-items">
                        <a href="/updateExibit{{ subject }}/{{exhibit.id}}">Update</a>
                    </div>
                    <div class="artifactfiles-items">
                        <a href="/deleteExibit{{ subject }}/{{exhibit.id}}">Delete</a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>

                {% for news in news_collection %}

                <div class="news-items">
                    <a href="/{{news.subject}}DisplayNews/{{news.id}}">
                        <img src="static/news_img/{{news.coverImageName}}" height="200" width="300">
                        <h3 class="news-item-heading">{{news.name}}</h3>
                        <p class="news-item-body">{{news.shortDescription}}</p>
                    </a>
                </div>

                {% endfor %}

                <div class="artifact-container">
                    {% if artifactList %}
                    {% for artifact in artifactList %}
                    <div class="artifact-items">
                        <a href="/{{subject}}Display/{{artifact.id}}" style="text-decoration: none;">
                            <img src="/static/artifact_img/{{artifact.coverImageName}}" width="200" height="150">
                            <h1>{{ artifact.name }}</h1>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}



{% if news %}
<div class="vertical-menu">
    <a href="/{{ subject }}">Overview</a>
    <a href="/{{ subject }}_Gallery">Gallery</a>
    <a href="/{{ subject }}_Exhibits">Exhibits</a>
    <a href="/{{ subject }}_News" class="active">News/Events</a>
    <!-- <a href="/{{ subject }}_Timeline">Timeline</a> -->
</div>


<div class="main-content">
    <div class="display-container">
        <h1>{{news.name}}</h1>
        <div class="display-items">
            <div class="display-info">
                <img src="/static/news_img/{{news.coverImageName}}" width="300" height="200">
                <p class="description">{{news.description}}</p>
                {% if current_user.is_authenticated %}
                {% if admin == 1 or userId == artifact.uploadedBy %}
                <div class="artifactfiles-items">
                    <a href="/updateNews{{ subject }}/{{news.id}}">Update</a>
                </div>
                <div class="artifactfiles-items">
                    <a href="/deleteNews{{ subject }}/{{news.id}}">Delete</a>
                </div>
                {% endif %}
                {% endif %}
            </div>

            <div class="news-files">
                {% if newsFiles %}
                {% for file in newsFiles %}
                {% if file.fileType == "mp4" or file.fileType == "mov" %}
                <div class="news-files-items">
                    <video width="640" height="360" controls>
                        <source src="/static/news_img/{{file.fileName}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                {% elif file.fileType == "mp3" %}
                <div class="news-files-items">
                    <audio controls>
                        <source src="/static/news_img/{{file.fileName}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                {% elif file.fileType == "obj" or file.fileType == "fbx" or file.fileType == "stl" %}
                <div class="news-files-items">
                    <a href="/static/news_img/{{file.fileName}}" download>Download 3D Model!</a>
                </div>

                <!-- https://threejs.org/docs/index.html#manual/en/introduction/Creating-a-scene -->

                {% else %}
                <div class="news-files-items">
                    <img src="/static/news_img/{{file.fileName}}" width="150" height="100"><br>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>


{% endblock %}