{% extends base %}

{% block title %} {{ subject }} {% endblock %}

{% block content %}
<div class="container">
    {% if artifact %}
    <div class="vertical-menu">
        <a href="/{{ subject }}">Overview</a>
        <a href="/{{ subject }}_Gallery" class="active">Gallery</a>
        <a href="/{{ subject }}_Exhibits">Exhibits</a>
        <a href="/{{ subject }}_News">News/Events</a>
        <!-- <a href="/{{ subject }}_Timeline">Timeline</a> -->
    </div>

    <div class="main-content">
        <div class="display-container">
            <h1>{{artifact.name}}</h1>
            <div class="display-items">
                <div class="display-info">
                    <img src="/static/artifact_img/{{artifact.coverImageName}}" width="300" height="200">
                    <p class="description">{{artifact.description}}</p>
                    {% if artifact.timePeriod is defined %}
                    <p class="timePeriod">{{artifact.timePeriod}}</p>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if admin == 1 or userId == artifact.uploadedBy %}
                    <div class="update-container">
                        <a href="/update{{ subject }}/{{artifact.id}}">
                            <div class="update-items">
                                <a href="/update{{ subject }}/{{artifact.id}}">Update</a>
                            </div>
                        </a>

                        <a href="/delete{{ subject }}/{{artifact.id}}">
                            <div class="update-items">
                                <a href="/delete{{ subject }}/{{artifact.id}}">Delete</a>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>

                <div class="artifactFiles">
                    {% for file in artifactFiles %}
                    {% if file.fileType == "mp4" or file.fileType == "mov" %}
                    <div class="artifactfiles-items">
                        <video width="500" height="400" controls>
                            <source src="/static/artifact_img/{{file.fileName}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    {% elif file.fileType == "mp3" %}
                    <div class="artifactfiles-items">
                        <audio controls>
                            <source src="/static/artifact_img/{{file.fileName}}" type="audio/mpeg">
                        </audio>
                    </div>
                    {% elif file.fileType == "obj" or file.fileType == "fbx" or file.fileType == "stl" %}
                    <div class="artifactfiles-items">
                        <a href="/static/artifact_img/{{file.fileName}}" class="button">Download 3D Model!</a>
                    </div>
                    {% else %}
                    <div class="artifactfiles-items">
                        <img src="/static/artifact_img/{{file.fileName}}" width="300" height="200">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endif %}


    {% if exhibit %}
    <div class="vertical-menu">
        <a href="/{{ subject }}">Overview</a>
        <a href="/{{ subject }}_Gallery">Gallery</a>
        <a href="/{{ subject }}_Exhibits" class="active">Exhibits</a>
        <a href="/{{ subject }}_News">News/Events</a>
        <!-- <a href="/{{ subject }}_Timeline">Timeline</a> -->
    </div>

    <div class="main-content">
        <div class="display-container">
            <h1>{{exhibit.name}}</h1>
            <div class="display-items">
                <div class="display-info">
                    <img src="/static/exibit_img/{{exhibit.coverImageName}}" width="300" height="200">
                    <p class="description">{{exhibit.description}}</p>
                    {% if current_user.is_authenticated %}
                    {% if admin == 1 or userId == exhibit.uploadedBy %}
                    <div class="update-container">
                        <a href="/update{{ subject }}/{{exhibit.id}}">
                            <div class="update-items">
                                <a href="/updateExibit{{ subject }}/{{exhibit.id}}">Update</a>
                            </div>
                        </a>

                        <a href="/delete{{ subject }}/{{exhibit.id}}">
                            <div class="update-items">
                                <a href="/deleteExibit{{ subject }}/{{exhibit.id}}">Delete</a>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>

                {% for news in news_collection %}

                <div class="news-items">
                    <a href="/{{news.subject}}DisplayNews/{{news.id}}">
                        <img src="static/news_img/{{news.coverImageName}}" width="300" height="200">
                        <h3 class="news-item-heading">{{news.name}}</h3>
                        <p class="news-item-body">{{news.shortDescription}}</p>
                    </a>
                </div>
                {% endfor %}

                <div class="artifact-container">
                    {% if artifactList %}
                    {% for artifact in artifactList %}
                    <div class="artifact-items">
                        <a href="/{{subject}}Display/{{artifact.id}}" style="text-decoration: none;">
                            <img src="/static/artifact_img/{{artifact.coverImageName}}" width="250" height="150">
                            <h1>{{ artifact.name }}</h1>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if news %}
<div class="vertical-menu">
    <a href="/{{ subject }}">Overview</a>
    <a href="/{{ subject }}_Gallery">Gallery</a>
    <a href="/{{ subject }}_Exhibits">Exhibits</a>
    <a href="/{{ subject }}_News" class="active">News/Events</a>
    <!-- <a href="/{{ subject }}_Timeline">Timeline</a> -->
</div>

<div class="main-content">
    <div class="display-container">
        <h1>{{news.name}}</h1>
        <div class="display-items">
            <div class="display-info">
                <img src="/static/news_img/{{news.coverImageName}}" width="300" height="200">
                <p class="description">{{news.description}}</p>
                {% if current_user.is_authenticated %}
                {% if admin == 1 or userId == news.uploadedBy %}

                <div class="update-container">
                    <a href="/update{{ subject }}/{{news.id}}">
                        <div class="update-items">
                            <a href="/updateNews{{ subject }}/{{news.id}}">Update</a>
                        </div>
                    </a>

                    <a href="/delete{{ subject }}/{{news.id}}">
                        <div class="update-items">
                            <a href="/deleteNews{{ subject }}/{{news.id}}">Delete</a>
                        </div>
                    </a>
                </div>

                {% endif %}
                {% endif %}
            </div>

            <div class="news-files">
                {% if newsFiles %}
                {% for file in newsFiles %}
                {% if file.fileType == "mp4" or file.fileType == "mov" %}
                <div class="news-files-items">
                    <video width="640" height="360" controls>
                        <source src="/static/news_img/{{file.fileName}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                {% elif file.fileType == "mp3" %}
                <div class="news-files-items">
                    <audio controls>
                        <source src="/static/news_img/{{file.fileName}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                {% elif file.fileType == "obj" or file.fileType == "fbx" or file.fileType == "stl" %}
                <div class="news-files-items">
                    <a href="/static/news_img/{{file.fileName}}" download>Download 3D Model!</a>
                </div>

                <!-- https://threejs.org/docs/index.html#manual/en/introduction/Creating-a-scene -->

                {% else %}
                <div class="news-files-items">
                    <img src="/static/news_img/{{file.fileName}}" width="300" height="200"><br>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>


{% endblock %}