{% extends base %}

{% block title %} {{ subject }} {% endblock %}

{% block content %}
    <h1 align="left">{{ subject }} Exhibits</h1>

    <div class="container">
      <div class="vertical-menu">
        <a href="/{{ subject }}">Overview</a>
        <a href="/{{ subject }}_Gallery">Gallery</a>
        <a href="/{{ subject }}_Exhibits" class="active">Exhibits</a>
        <a href="/{{ subject }}_Timeline">Timeline</a>
      </div>

      <div class="construction_image">
        <img src="https://thumbs.dreamstime.com/b/under-construction-sign-9939879.jpg" width="600" height="400">
      </div>
    </div>

{% endblock %}