{% extends base %}

{% block title %} {{ subject }} {% endblock %}

{% block content %}
    <h1 align="left">{{ subject }} Exhibits</h1>

    <div class="container">
      <div class="vertical-menu">
        <a href="/{{ subject }}">Overview</a>
        <a href="/{{ subject }}_Gallery">Gallery</a>
        <a href="/{{ subject }}_Exhibits" class="active">Exhibits</a>
        <a href="/{{ subject }}_News">News/Events</a>
        <!-- <a href="/{{ subject }}_Timeline">Timeline</a> -->
      </div>

      {% if allExhibits %}
        {% for exhibits in allExhibits %}
          <div class="gallery">
            <h1>{{ exhibits.name }}</h1><br>
            <img src="/static/exibit_img/{{Exhibits.coverImageName}}" width="250" height="250">
            <h2>{{ exhibits.shortDescription }}</h2>
          </div>
        {% endfor %}
        {% for i in range(1, nextPage+1) %}
            <form action="/Archeology_Exhibits" method="post">
              <input type="submit" value="{{ i }}" name="currentPage" />
            </form>
          {% endfor %}
      {% else %}
        <div class="construction_image">
          <img src="https://thumbs.dreamstime.com/b/under-construction-sign-9939879.jpg" width="600" height="400">
        </div>
      {% endif %}
    </div>

{% endblock %}