{% extends base %}

{% block title %}History of Museum{% endblock %}

{% block content %}

<div>
<h1>History of Museum</h1>
<p>Ancient North Carolinians is a project of the Research Laboratories of Archaeology, University of North Carolina at Chapel Hill. Its creation was made possible by the generous support of the C. Felix Harvey family (through a Harvey Award at UNC-Chapel Hill) and a grant from the Kenan Creative Collaboratory.</p>     
<p>Other organizations that provided key support are the N.C. Archaeological Council, the N.C. Archaeological Society, the N.C. Commission of Indian Affairs, UNC-Chapel Hill’s American Indian Center, UNC Libraries, and the Office of Arts and Sciences Information Services (OASIS) at UNC-Chapel Hill.</p>
<p>The core development team included (in alphabetical order) Marissa Wojcinski Bruce, MaryRachel Bulkeley, R.P. Stephen Davis, Jr., Bradley Erickson, Heather Lapham, Ashley Peles, and Vin Steponaitis. Brent Lane (Kenan Institute of Private Enterprise, UNC-Chapel Hill), Elaine Franklin (Kenan Institute for Engineering, Technology and Science, NCSU), Tim Shearer (UNC Libraries), and Tim Hensley (OASIS) served as key advisors.</p>     
<p>We are also grateful to the many colleagues and friends who served on our advisory panels, and the many others who contributed material that is posted on this site. Authors are acknowledged on the pages that they wrote.</p>
</div>

{% endblock %}