{% extends base %}

{% block title %}History of Museum{% endblock %}

{% block content %}

<h1 class="hist_title">A Brief History of the CT Hurst Museum</h1>
<div class="paragraphs">
    <p class="elements"> 
        The CT Hurst Museum is located in Gunnison, Colorado, on the campus of Western Colorado University (WCU), an undergraduate liberal arts 
        institution with about 2,500 students enrolled annually. Our anthropology program encourages undergraduate research and requires majors 
        to participate in a field school. The CT Hurst Museum is a great source of cultural and archaeological knowledge of the heritage of 
        Gunnison Country. The CT Hurst Museum’s small exhibit space, archive and curation room, archaeological offices, and wet laboratories are 
        housed in the Hurst building on WCU’s campus.  The CT Hurst Museum collection encompasses artifacts and associated notes from fieldwork 
        beginning in the 1930’s with Clarence T. Hurst, to current field school materials recovered from the Mountaineer and Tenderfoot Sites in 
        Gunnison, directed by Dr. Mark Stiger since 1990.
    </p>

    <img src="static\marc-hist.jpg" class="elements" id="img_1">

</div>

<div class="paragraphs">

    <p class="elements">
        The CT Hurst Museum contains material from numerous significant collections including one made by Clarence T. Hurst from his fieldwork 
        in the 1930s and 1940s. The Hurst collection provides evidence of the earliest corn farming in Colorado, and artifact assemblages from 
        early Folsom and Windust occupations in Colorado. The designation of these sites ranges from being on the State Register to eligible and 
        recommended for the State Register. Another significant collection in the museum is from The Mountaineer and Tenderfoot sites excavated by 
        Dr. Stiger since the early 2000s and also contains evidence for some of the earliest people in the area and is on the State Registrar of 
        Historic Places (State Register 3/9/1994, 5GN.1835). 
    </p>
</div>

<div class="paragraphs">
    <p class="elements">
        In the early 1930s, CT Hurst, came to what was then known as Western State College as a professor of zoology. His shift to archaeological 
        research was the result, as least in part, of a loan to Western of a private collection of Southwest pottery and other materials, which 
        he studied, curated, and exhibited. In 1935, he and Gunnison Mayor H.W. Endner, helped establish the Colorado Archaeological Society and 
        began publishing the journal Southwestern Lore. 
    </p>
</div>

<div class="paragraphs">
    <p class="elements">
        In the late 1930s Hurst and Endner, and the Colorado Archaeological Society, established the first archaeology museum at Western State 
        College. Hurst initially conducted field work in the late 1930s at a Folsom site in the San Luis Valley, then later at a cave site in 
        the same region. 
    </p>
</div>


<div class="paragraphs">
    <img src="static\excavation.jpg" class="elements" id="img_2">
    <p class="elements">
        Later Hurst worked on the Uncompahgre Plateau at Tabeguache Cave (State Register 9/11/1996, 5MN.868), Dolores Cave 
        (State Register 9/11/1996, 5MN.915), and Cottonwood Cave (State Register 9/11/1996, 5MN.519). These sites were occupied by many 
        peoples, including Ancestral Puebloan, Fremont, and Gateway, and contained early evidence of farming in the region. Among the many 
        artifacts from these sites are numerous perishable items such as corncobs, baskets, yucca sandals, deer hides, a split-twig figurine, 
        and many bone fragments which are part of the Hurst Museum collection. 
    </p>
</div>


<div class="paragraphs">
    <p class="elements">
        In August of 1948, Hurst took a leave from Western to study museum curation at the Peabody Museum at Harvard University. While in 
        Cambridge he became ill with pneumonia and in January of 1949 passed away, leaving the management of the museum uncertain. Upon being 
        hired at Western State in 1989, Dr. Stiger began an assessment of the archaeological collection, now stored in a large shared space in 
        Hurst. In 2001, the Hurst building was expanded with the construction of an additional wing. At that time a space specifically designed 
        for the collection was built, and is the current location of the Hurst Museum.
    </p>
</div>

{% endblock %}