{% extends base %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="pictures">
        <div class="picture">Picture 1</div>
        <div class="picture">Picture 2</div>
        <div class="picture">Picture 3</div>
        <div class="picture">Picture 4</div>
        <div class="picture">Picture 5</div>
        <div class="picture">Picture 6</div>
        <div class="picture">Picture 5</div>
        <div class="picture">Picture 6</div>
        <div class="picture">Picture 5</div>
        <div class="picture">Picture 6</div>
    </div>
{% endblock %}