{% extends base %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Western Colorado's CT Hurst Virtual Museum</h1>
<h2>Travel through History here!</h2>
<br><br>
<div align="left" class="slideshow-container">
  <!-- Full-width images with number and caption text -->

  <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: white;
      padding: 10px;
      margin: 10px;
      overflow: auto;
      align-items: center;
    }

    .grid-item {
      background-color: white;
      padding: 10px;
      font-size: 25px;
      text-align: center;
      margin: 10px;
    }

    .card h3 {
      font-size: large;
    }

    .card p {
      font-size: medium;
    }
  </style>


  <div class="mySlides fade">
    <div class="numbertext">1 / 6</div>
    <img src="/static/slideshow/cave.jpg" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 6</div>
    <img src="/static/slideshow/circle.jpg" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 6</div>
    <img src="/static/slideshow/digging.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 6</div>
    <img src="/static/slideshow/tippe.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 6</div>
    <img src="/static/slideshow/view.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">6 / 6</div>
    <img src="/static/slideshow/animals.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
</div>

<br><br>

<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>



<div class="grid-container">
  <br>
  <center>
    <h1>Recent Post</h1>
  </center>
  <br>

  {% for news in news_collection %} 

    <div class="grid-item">
      <div class="card">
        <a href="{{news.link}}">
          <img src="{/static/{news.coverImageName}}" alt="{{news.name}}" height="200" width="300" ></a>
        <h3>{{news.name}}</h3>
        <p>{{news.shortDescription}}</p>
      </div>
    </div>

 
  {% endfor %}
  

  <div class="grid-item">
    <div class="card">
      <a href="post1.html">
        <img src=" https://cdn.britannica.com/88/189788-050-9B5DB3A4/Al-Dayr-Petra-Jordan.jpg" alt="Ruins in the desert" height="200" width="300" >
      <h3>The Secrets of a Lost City: Exploring the Ruins of Petra</h3>
      <p>Located in the deserts of Jordan, Petra is an ancient city that has fascinated archaeologists and hi</p>
    </a>
    </div>
  </div>

  <div class="grid-item">
    <div class="card">
      <a href="post1.html">
        <img src=" https://cdn.britannica.com/88/189788-050-9B5DB3A4/Al-Dayr-Petra-Jordan.jpg" alt="Ruins in the desert" height="200" width="300" ></a>
      <h3>The Secrets of a Lost City: Exploring the Ruins of Petra</h3>
      <p>Located in the deserts of Jordan, Petra is an ancient city that has fascinated archaeologists and hi</p>
    </div>
  </div>


  <div class="grid-item">
    <div class="card">
      <a href="post1.html">
        <img src="/static/slideshow/cave.jpg" alt="image" height="200" width="300" ></a>
      <h3>Heading</h3>
      <p>Some text</p>
    </div>
  </div>


  <div class="grid-item">
    <div class="card">
      <a href="post1.html">
        <img src="/static/slideshow/cave.jpg" alt="image" height="200" width="300" ></a>
      <h3>Heading</h3>
      <p>Some text</p>
    </div>
  </div>


  <div class="grid-item">
    <div class="card">
      <a href="post1.html">
        <img src="/static/slideshow/cave.jpg" alt="image" height="200" width="300" ></a>
      <h3>Heading</h3>
      <p>Some text</p>
    </div>
  </div>


  <div class="grid-item">
    <div class="card">
      <a href="post1.html">
        <img src="/static/slideshow/cave.jpg" alt="image" height="200" width="300" ></a>
      <h3>Heading</h3>
      <p>Some text</p>
    </div>
  </div>






</div>





{% endblock %}