{% extends base %}

{% block title %} {{ subject }} {% endblock %}

{% block content %}
    <h1 align="left">{{ subject }} News and Events</h1>

    <div class="container">
      <div class="vertical-menu">
        <a href="/{{ subject }}">Overview</a>
        <a href="/{{ subject }}_Gallery">Gallery</a>
        <a href="/{{ subject }}_Exhibits">Exhibits</a>
        <a href="/{{ subject }}_News" class="active">News/Events</a>
        <!-- <a href="/{{ subject }}_Timeline">Timeline</a> -->
      </div>

      {% if allNews %}
        <div class="gallery-container">
          {% for news in allNews %}
            <div class="news-items">
              <img src="/static/news_img/{{news.coverImageName}}" width="150" height="100">
              <h1>{{ news.name }}</h1><br>
              <h1>{{ news.shortDescription }}</h1><br>
            </div>
          {% endfor %}

          {% for i in range(1, nextPage+1) %}
            <form action="/Archeology_News" method="post">
              <input type="submit" value="{{ i }}" name="currentPage" />
            </form>
          {% endfor %}
        </div>
      {% else %}
        <div class="construction_image">
          <img src="https://thumbs.dreamstime.com/b/under-construction-sign-9939879.jpg" width="600" height="400">
        </div>
      {% endif %}
    </div>
{% endblock %}