{% extends base %}

{% block title %} {{ subject }} {% endblock %}

{% block content %}
<div class="container">

  <div class="main-content">
    <h1 align="center" style="color:white">{{ subject }} Gallery</h1>

    {% if allArtifacts %}
      <div class="gallery-container">
        {% for artifact in allArtifacts %}

          <div class="gallery-items">
            <a href="/{{artifact.subject}}Display/{{artifact.id}}">
            <img src="/static/artifact_img/{{artifact.coverImageName}}" width="150" height="100">
            <h1>{{ artifact.name }}</h1><br>
            </a>
          </div>
        {% endfor %}
      </div>
      {% for i in range(1, nextPage+1) %}
        <form action="/Archeology_Gallery" method="post">
          <input type="submit" value="{{ i }}" name="currentPage" />
        </form>
      {% endfor %}
    {% else %}
    <div class="construction_image">
      <img src="https://thumbs.dreamstime.com/b/under-construction-sign-9939879.jpg" width="600" height="400">
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}