{% extends base %}

{% block title %} {{ subject }} {% endblock %}

{% block content %}
    <h1>{{ subject }}</h1>

    <div id="subNavigation">
        <ul id="subNavigation">
            <li id="subNavigation"><a href="/" class="active">Gallery</a></li>
            <li id="subNavigation"><a href="/Archeology">Exhibits</a></li>
            <li id="subNavigation"><a href="/Biology">Timeline</a></li>
            <li id="subNavigation"><a href="/Geology">Contributors</a></li>
        </ul>
    </div>

{% endblock %}