{% extends base %}

{% block title %}Upload{% endblock %}

{% block content %}

    <h1 align="left">Create</h1><br><br>

    {% if createAdmin %}

    <form action="/Create_Admin" method="post" class="admin">
        <label for="firstname">Firstname:</label><br>
        <input type="text" name="firstname" maxlength="50" required><br><br>
        <label for="lastname">Lastname:</label><br>
        <input type="text" name="lastname" maxlength="50" required><br><br>
        <label for="username">Username:</label><br>
        <input type="text" name="username" maxlength="20" required><br><br>
        <label for="password">password:</label><br>
        <input type="password" name="password" maxlength="50" required><br><br>
        <label for="password">email:</label><br>
        <input type="text" name="email" required><br><br>
        <input type="submit" value="Create">
    </form>

    {% elif createArtifact %}

    <h3>WARNING: Artifact subject and files can not be changed after upload</h3>

    <form class="artifactUpload" id="artifactUploadForm" action="/Create_Artifact" method="post" enctype='multipart/form-data'>
        <label for="subject">Choose Subject:</label>
        <select id="subject" name="subject">
            <option value="archaeology">Archaeology</option>
            <option value="biology">Biology</option>
            <option value="geology">Geology</option>
            <option value="paleontology">Paleontology</option>
        </select><br><br>
        <label for="name">Artifact Name:</label><br>
        <input type="text" name="artifactName" maxlength="100" required><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="12" cols="75" maxlength="1000" required>
        </textarea><br><br>
        <label for="year">optional Year/TimePeriod:</label><br>
        <input type="text" name="year" maxlength="250"><br><br>
        <input id="numOfFiles" name="numOfFiles" style="display: none" value="1">
        <label for="year">Cover Image:</label><br>
        <input type="file" name="coverImg" accept=".pdf, .jpg, .svg, .gif, .png" required><br><br>
        <label for="year">File(s):</label><br>
        <input type="file" name="file0" accept=".pdf, .jpg, .svg, .gif, .png, .mp3, .mp4, .mov, .obj, .fbx, .stl" required><br><br>
    </form><br><br>

    <button onclick="addFile()" id="addFileButton">Add File</button><br>
    <button type="submit" form="artifactUploadForm" value="Submit">Create</button><br>

    <script>
        
        fileCount = 1;

        function addFile() {
            if (fileCount < 9){
                const form = document.getElementById('artifactUploadForm');
                const input = document.createElement('input');
                
                input.setAttribute('type', 'file');
                input.setAttribute('name', 'file'+fileCount);
                input.setAttribute('accept', '.pdf, .jpg, .svg, .gif, .png, .mp3, .mp4, .mov, .obj, .fbx, .stl')
                fileCount++;

                form.appendChild(input);
                
                document.getElementById("numOfFiles").value = fileCount;
            } else {
                document.getElementById("addFileButton").style.visibility="hidden";
            }
        };

    </script>

    {% elif createExibit %}

        {% if error %}
            <p style="color:red;">ERROR: No artifacts for selected subject. Please add artifacts before making a exibit</p>
        {% endif %}

        {% if artifacts %}
            <!-- DISPLAY LIST OF ARTIFACTS FOR ADDING TO COLLECTION -->

            <h3>WARNING: Exhibit artifacts can not be changed after upload</h3>

            <br><form action="/Exibit_Add" method="post" class="admin">
                <input id="exibitId" name="exibitId" style="display: none" value="{{ exibitId }}">
                <label for="artifactSelection">Choose Artifacts to be added to Exibit:</label><br>
                <label for="artifactSelection">(ctrl/cmd click for multiple):</label><br>
                <select id="artifactSelect" name="artifactSelect" multiple>
                {% for item in artifacts %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
                </select><br><br>
                <input type="submit" value="Add to Exibit">
            </form>
        {% else %}

        <h3>WARNING: Exhibit subject can not be changed after upload</h3>

        <form action="/Create_Exibit" method="post" class="admin" enctype='multipart/form-data'>
            <label for="subject">Choose Subject:</label>
            <select id="subject" name="subject">
                <option value="archaeology">Archaeology</option>
                <option value="biology">Biology</option>
                <option value="geology">Geology</option>
                <option value="paleontology">Paleontology</option>
            </select><br><br>
            <label for="exibitName">Exibit Name:</label><br>
            <input type="text" name="exibitName" maxlength="100" required><br><br>
            <label for="description">Short Description (only 150 characters):</label><br>
            <textarea id="description" name="shortDescription" rows="6" cols="35" maxlength="150" required>
            </textarea><br><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" rows="12" cols="75" maxlength="1000" required>
            </textarea><br><br>
            <label for="year">Cover Image:</label><br>
            <input type="file" name="coverImg" accept=".pdf, .jpg, .svg, .gif, .png" required><br><br>
            <input type="submit" value="Create and Select Artifacts">
        </form>

        {% endif %}

    {% elif createTimeline %}
        
        {% if error %}
            <p style="color:red;">ERROR: No artifacts for selected subject. Please add artifacts before making a timeline</p>
        {% endif %}

        {% if artifacts %}
            <!-- DISPLAY LIST OF ARTIFACTS FOR ADDING TO COLLECTION -->
            <form action="/Create_Exibit" method="post" class="admin">
                <input type="submit" value="Add to Timeline">
            </form>
        {% else %}

        <form action="/Create_Timeline" method="post" class="admin" enctype='multipart/form-data'>
            <label for="subject">Choose Subject:</label>
                <select id="subject" name="subject">
                <option value="archaeology">Archaeology</option>
                <option value="biology">Biology</option>
                <option value="geology">Geology</option>
                <option value="paleontology">Paleontology</option>
            </select><br><br>
            <label for="exibitName">Timeline Name:</label><br>
            <input type="text" name="exibitName" required><br><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" rows="12" cols="75" required>
            </textarea><br><br>
            <label for="timeStart">Starting Year:</label><br>
            <input type="number" name="timeStart" required><br><br>
            <label for="timeEnd">Ending Year:</label><br>
            <input type="number" name="timeEnd" required><br><br>
            <label for="year">Cover Image:</label><br>
            <input type="file" name="coverImg" required><br><br>
            <input type="submit" value="Create and Select Artifacts">
        </form>

        {% endif %}

    {% elif createNews %}

        <h3>WARNING: News subject and files can not be changed after upload</h3>

        <form action="/Create_News" method="post" class="admin" id="newsUploadForm" enctype='multipart/form-data'>
            <label for="subject">Choose Subject:</label>
                <select id="subject" name="subject">
                <option value="archaeology">Archaeology</option>
                <option value="biology">Biology</option>
                <option value="geology">Geology</option>
                <option value="paleontology">Paleontology</option>
            </select><br><br>
            <label for="newsName">News/Event Name:</label><br>
            <input type="text" name="newsName" maxlength="100" required><br><br>
            <label for="description">Short Description (only 150 characters):</label><br>
            <textarea id="shortDescription" name="shortDescription" maxlength="150" rows="6" cols="35" required>
            </textarea><br><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" maxlength="1000" rows="12" cols="75" required>
            </textarea><br><br>
            <label for="year">Cover Image:</label><br>
            <input type="file" name="coverImg" accept=".pdf, .jpg, .svg, .gif, .png" required><br><br>
            <label for="year">Additional Images/Videos:</label><br>
            <input id="numOfFiles" name="numOfFiles" style="display: none" value="0">
        </form><br>

        <button id="addFileButton" onclick="addFileNews()"">Add File</button><br>
        <button type="submit" form="newsUploadForm" value="Submit">Create</button><br>

        <script>
        
            fileCount = 0;
    
            function addFileNews() {
                if (fileCount < 10){
                    const form = document.getElementById('newsUploadForm');
                    const input = document.createElement('input');
                    
                    input.setAttribute('type', 'file');
                    input.setAttribute('name', 'file'+fileCount);
                    input.setAttribute('accept', '.pdf, .jpg, .svg, .gif, .png, .mp3, .mp4, .mov, .obj, .fbx, .stl')
                    fileCount++;
    
                    form.appendChild(input);

                    
                    document.getElementById("numOfFiles").value = fileCount;
                } else {
                    document.getElementById("addFileButton").style.visibility="hidden";
                }
            };
    
        </script>

    {% else %}

    <form action="/Create_Artifact">
        <button class="upload">Artifact</button>
    </form>

    <form action="/Create_Exibit">
        <button class="upload">Exibit</button>
    </form>

    <!-- <form action="/Create_Timeline">
        <button class="upload">Timeline</button>
    </form> -->

    <form action="/Create_News">
        <button class="upload">News/Events</button>
    </form>

    <form action="/Create_Admin">
        <button class="upload">Account</button>
    </form>

    {% endif %}

{% endblock %}